<!doctype html>
<html>
<h1> Hello World!</h1>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <title>Optum Project</title>
    <style type="text/css">
        body {
            background-color: floralwhite;
            margin: 0;
            padding: 0;
            font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif
        }

        div {
            width: 80%;
            margin: 5em auto;
            padding: 2em;
            background-color: #BF5434;
            border-radius: 1em;
            box-shadow: 1em, 1em, 1em
        }
    </style>
</head>

<body>
    <h1>
        <h1>
            Optum Project: Healthcare Optimization</h1>
        <p1>
            paragraph...
        </p1>
    </h1>
    <div id="app">
        {{ message }}
    </div>
    <div id="app2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>
    <div id="app3">
        <span v-if="seen">Now you see me</span>
    </div>
    <div id="app4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <div id="app5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse message</button>
    </div>
    <script src="index.js"></script>
</body>

</html>